mat-card {
    width: 100%;
    height: auto;
    justify-items: left;
}

mat-card-header {
    padding: 20px;
    text-align: center;
    justify-content: center;
    background: #962051;
    mat-card-title {
        font-size: 1.2rem;
        font-weight: 600;
        color: #ffffff;
    }
}

mat-card-actions {
    padding: 20px;
    flex-direction: column;
    mat-card-title {
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 15px;
        color: #1a1a1a;
    };
    mat-card-subtitle {
        font-size: 1rem;
        font-weight: 400;
        padding-left: 10px;
    }
    form {
        display: flex;
        flex-direction: column;
    }
}

button {
    margin: 20px 0 0 0;
    padding: 10px;
    background-color: #962051;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
    transition: background-color 0.3s ease-in-out;
    &:hover {
        box-shadow: 0 0 20px #a8a8a8;
    }
}