app-teaching-staff-entity {
  display: contents;
}

app-define-specialty {
  display: flex;
  justify-content: center;
}

button {
  background-color: #b0324f;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #8c1c2f;
  }
}

.speciality {
  text-indent: 30px;
}

.divButton {
  margin: 10px;
}

.name {
  font-weight: bold;
}

.listTS {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}