<app-define-specialty></app-define-specialty>
<div class="listTS">
  <mat-list role="list" *ngFor="let teachingStaff of teachingStaffs">
    <mat-divider></mat-divider>
    <mat-list-item class="name"
      >{{ teachingStaff.user.firstname }} {{ teachingStaff.user.lastname }} :
    </mat-list-item>
    <mat-list-item
      class="speciality"
      *ngIf="teachingStaff.isInfrastructureSpecialist"
      >Spécialiste Infrastructure
    </mat-list-item>
    <mat-list-item
      class="speciality"
      *ngIf="teachingStaff.isDevelopmentSpecialist"
      >Spécialiste Développement
    </mat-list-item>
    <mat-list-item class="speciality" *ngIf="teachingStaff.isModelingSpecialist"
      >Spécialiste Modélisation</mat-list-item
    >
  </mat-list>
</div>
