app-team-list {
    margin: 5px;
    display: grid;
    justify-items: center;
    align-content: start;
}

#generateTeamsButton {
    height: 3.2rem;
    width: 12rem;
    color: #fff;
    font-weight: 600;
    font-size: 17px;
    border-radius: 15px;
}

#generateTeams {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

#teamCreationBox {
    display: flex;
    justify-content: center;
    width: 90%;
    padding: 25px 5%;
}

@media screen and (max-width: 768px) {
  .twoColumnDisplay {
    grid-template-columns: 1fr;
  }
}


