<div id="generateTeams" *ngIf="teams.length > 0 && isCurrentUserAnOptionLeader()">
    <button mat-raised-button id="generateTeamsButton" color="primary" (click)="generateTeams()">Créer des équipes</button>
</div>
<div *ngIf="isCurrentUserAnOptionLeader() && (teams.length == 0 || openTeamsCreation == true)">
    <app-team-creation (componentDisplayed)="closeTeamsCreation($event)"></app-team-creation>
</div>
<div class="twoColumnDisplay">
    <app-team-list (applyEvent)='update($event)' *ngFor="let team of teams" [team]="team"></app-team-list>
</div>
