<mat-card id="subjectCard{{team.projectDev.idProject}}" [style.background-color]="team.projectDev.isValidated ? '#90ee90' : '#fff'">
    <mat-card-header>
        <mat-card-title>{{ team.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <h2>{{ team.projectDev.isValidated ? '✓' : '' }} {{ team.projectDev.name }}</h2>
        <p>{{ team.projectDev.description }}</p>
    </mat-card-content>
    <mat-card-actions *ngIf="!team.projectDev.isValidated">
        <button mat-raised-button (click)="validateSubject()" color="primary" id="buttonValidateSubject">Valider le sujet</button>
    </mat-card-actions>
</mat-card>