#dev-projectComponent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem;
}

app-project-file {
  width: 100%;
  display: contents;
}

app-project-description {
  width: 47rem;
}


#buttonModifyProject {
  margin: 25px 0px;
}

app-consulting-info {
  margin: 5px;
  display: grid;
  justify-items: center;
  align-content: start;
}

h2 {
  text-align: center;
  margin: 20px;
}

#cards-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

@media screen and (max-width: 1200px) {
  app-project-description {
    width: 23rem;
  }
  #reportCommentParagraph {
    width: 70%;
  }
  .sameRow {
    width: 70%;
  }
}

@media screen and (max-width: 768px) {
  #reportCommentParagraph {
    width: 80%;
  }
  .sameRow {
    width: 80%;
  }
}
