#dev-projectComponent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 90%;
  width: 90%;
  padding: 5% 5%;
}

app-project-file {
  width: 100%;
  display: flex;
  justify-content: center;
}

#buttonModifyProject {
  margin: 25px 0px;
}
