### VS Code ###
**/.vscode/
.history/*

### API ###
back/target/
back/src/main/resources/static/
back/upload/
**.war

### front ###
front/dist
front/tmp
front/out-tsc
front/bazel-out
front/node_modules
front/.angular

### Selenium ###
selenium/taf_selenium/target
selenium/target

### OTHER ###
upload/
gitStats/*.csv


# System files
.DS_Store
Thumbs.db