### VS Code ###
**/.vscode/
.history/*

### API ###
back/target/
back/src/main/resources/static/
back/upload/
back/test/
**.war

### front ###
front/dist
front/tmp
front/out-tsc
front/bazel-out
front/node_modules
front/.angular

### OTHER ###
upload/
gitStats/*.csv


# System files
.DS_Store
Thumbs.db