<p>jury-creation works!</p>

<form>
  <mat-form-field appearance="fill">
    <mat-label>Select an option</mat-label>
    <mat-select [(ngModel)]="selectedOption1">
      <mat-option value="1">Option 1</mat-option>
      <mat-option value="2">Option 2</mat-option>
      <mat-option value="3">Option 3</mat-option>
      <mat-option value="4">Option 4</mat-option>
      <mat-option value="5">Option 5</mat-option>
      <mat-option value="6">Option 6</mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-form-field appearance="fill">
    <mat-label>Select an option</mat-label>
    <mat-select [(ngModel)]="selectedOption2">
      <mat-option value="1">Option 1</mat-option>
      <mat-option value="2">Option 2</mat-option>
      <mat-option value="3">Option 3</mat-option>
      <mat-option value="4">Option 4</mat-option>
      <mat-option value="5">Option 5</mat-option>
      <mat-option value="6">Option 6</mat-option>
    </mat-select>
  </mat-form-field>
  
  <button mat-raised-button color="primary" id="buttonsLogin" (click)="onSubmit()">Créer le jury</button>
</form>