<mat-card [style.background-color]="project.isValidated ? '#90ee90' : '#fff'">
    <mat-card-header>
        <mat-card-title>{{ project.teamName }}</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
        <mat-card-title>{{ project.isValidated ? '✓' : '' }} {{ project.name }}</mat-card-title>
        <mat-card-subtitle>{{ project.description }}</mat-card-subtitle>
        <button *ngIf="!project.isValidated" (click)="doValidateSubject()" mat-button>Valider le sujet</button>
    </mat-card-actions>
</mat-card>