<div>
  <mat-list role="list" *ngFor="let teachingStaff of teachingStaffs">
    <mat-list-item
      >{{ teachingStaff.user.firstname }} {{ teachingStaff.user.lastname }} :
    </mat-list-item>
    <mat-list-item *ngIf="teachingStaff.isInfrastructureSpecialist"
      >Spécialiste Infrastructure
    </mat-list-item>
    <mat-list-item *ngIf="teachingStaff.isDevelopmentSpecialist"
      >Spécialiste Développement
    </mat-list-item>
    <mat-list-item *ngIf="teachingStaff.isModelingSpecialist"
      >Spécialiste Modélisation</mat-list-item
    >
    <mat-divider></mat-divider>
  </mat-list>
  <button
    *ngIf="isCurrentUserATeachingStaff()"
    mat-raised-button
    routerLink="/teachingStaffSpe/modifySpeciality"
  >
    Définir mes spécialités
  </button>
</div>
