.inputForm {
    margin: 5px 15px;
}

#teamCreationComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

#titleTeamCreation {
    margin: 20px 0;
    font-size: 30px;
    font-weight: 500;
}

#textTeamCreation {
    margin: 20px 0;
    font-size: 18px;
}
#buttonCreateTeam {
    padding: 15px;
    color: white;
    font-weight: 500;
    font-size: 14px;
    border-radius: 20px;
}

#listTeams {
    display: flex;
    flex-direction: column;
    align-items: center;
   list-style-type: none;
}

#team {
    padding: 5px;
}