<div id="teamCreationComponent">

    <h1 id="titleTeamCreation">Création d'équipe</h1>
    <p id="textTeamCreation">Sélectionner un nombre de paires d'équipes à créer</p>

    <div id="teamCreation">
    <form id="teamCreationForm" [formGroup]="teamCreationForm" (ngSubmit)="createTeams()">

        <mat-form-field class="inputForm" appearance="fill" color="accent">
            <mat-label class="labelForm">Nombre de paires</mat-label>
            <input matInput  type="number" min="0" onkeydown="return false" [formControl]="nbTeamsFormControl"/>
            <mat-error *ngIf="nbTeamsFormControl.hasError('required')">
                Un nombre d'équipe est <strong>requis</strong>
            </mat-error>
        </mat-form-field>

        <button mat-raised-button color="primary" id="buttonCreateTeam">Générer les équipes</button>
    
    </form>
    </div>


    <ul>
        <li id="listTeams" *ngFor="let team of teams">
            <span id="team">{{team.name}} créée !</span>
        </li>
    </ul>
    
</div>