.inputForm {
    margin: 5px 15px;
}

#teamCreationComponent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 350px;
}

#titleTeamCreation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px 0;
    font-size: 30px;
    font-weight: 500;
}

#subtitleTeamCreation {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
    font-size: 18px;
}
#buttonCreateTeam {
    padding: 15px;
    color: white;
    font-weight: 500;
    font-size: 14px;
    border-radius: 20px;
}