*{
    width:100%;
}

#consulting-commentaires {
    margin: 10px;
}

#consulting-notes {
    padding:10px;
    margin: 10px;
}


button {
    width: auto;
    padding:10px;
}
h2 {
    text-align: center;
    margin: 10px;
}

textarea {
    resize: none;
}

mat-dialog-actions {
    display: flex;
    flex-direction: row;
}