.Title {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.Title *{
    padding-left: 10px;
    padding-right: 10px;
}

.TeamTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TeamTitle p{
    font-size: 1.5rem;
    font-weight: 500;
    color: #000;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.mat-table {
    margin: 5px;    
}

button {
    padding: 1.25rem;
}