<div class="Title">

  <div class="TeamTitle">
    <p> Équipe n°{{team.idTeam}} : </p>
    <p> {{team.name}} </p>
  </div>
  
  <button *ngIf="isCurrentUserAStudent()" (click)="applyInTeam(team.idTeam)" mat-raised-button color="primary" id="buttonJoinTeam">Rejoindre l'équipe</button>
</div>
<table mat-table [dataSource]="team.teamMembers" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let teamMember"> {{teamMember.user.id}} </td>
    </ng-container>
  
    <!-- LastName Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nom </th>
      <td mat-cell *matCellDef="let teamMember"> {{teamMember.user.lastname}} </td>
    </ng-container>
  
    <!-- FirstName Column -->
    <ng-container matColumnDef="surname">
      <th mat-header-cell *matHeaderCellDef> Prénom </th>
      <td mat-cell *matCellDef="let teamMember"> {{teamMember.user.firstname}} </td>
    </ng-container>
  
    <!-- Speciality Column -->
    <ng-container matColumnDef="speciality">
      <th mat-header-cell *matHeaderCellDef> Option </th>
      <td mat-cell *matCellDef="let teamMember"> {{teamMember.user.speciality}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>