<div id="projectFileComponent">
  <label for="">Cahier des charges :</label>
  <form class="inputFileForm" id="teamScopeForm"  [formGroup]="importTSSform" (ngSubmit)="upload('teamScopeStatement', 1)" *ngIf="!isThereFinalStateScope()">

    <div class="sameRow">
      <mat-form-field class="inputForm" appearance="fill">
        <ngx-mat-file-input valuePlaceholder="Choisir un fichier*" formControlName="teamScopeStatement" [accept]="'.pdf'">
        </ngx-mat-file-input>
        <mat-icon matSuffix>attachment</mat-icon>
        <mat-error *ngIf="teamScopeFormControl.hasError('required')">
            Vous devez choisir un fichier
        </mat-error>
        <mat-error *ngIf="teamScopeFormControl.hasError('apiError')">
            {{errorMessage}}
        </mat-error>
      </mat-form-field>
      <button mat-fab color="accent" [disabled]="importTSSform.invalid">
        <mat-icon>upload</mat-icon>
      </button>
    </div>
  </form>
  <button mat-raised-button color="accent" (click)="getFile('teamScopeStatement')" class="downloadButton" [disabled]="!isThereStateScope()">Télécharger le document</button>

  <form class="inputFileForm" id="analysisForm"  [formGroup]="importAnalysisform" (ngSubmit)="upload('analysis', 2)">
    <label for="">Analyse du cahier des charges :</label>
    <div class="sameRow">
      <mat-form-field class="inputForm" appearance="fill">
        <ngx-mat-file-input valuePlaceholder="Choisir un fichier*" formControlName="analysis" [accept]="'.pdf'"></ngx-mat-file-input>
        <mat-icon matSuffix>attachment</mat-icon>
        <mat-error *ngIf="analysisFormControl.hasError('required')">
            Vous devez choisir un fichier
        </mat-error>
        <mat-error *ngIf="analysisFormControl.hasError('apiError')">
            {{errorMessage}}
        </mat-error>
      </mat-form-field>
      <button mat-fab color="accent" [disabled]="importAnalysisform.invalid">
        <mat-icon>upload</mat-icon>
      </button>
    </div>
  </form>
  <button mat-raised-button color="accent" (click)="getFile('analysis')" class="downloadButton" [disabled]="!isThereAnalysis()">Télécharger le document</button>

  <form class="inputFileForm" id="finalteamScopeForm"  [formGroup]="importFTSSform" (ngSubmit)="upload('finalTeamScopeStatement', 3)">
    <label for="">Cahier des charges final :</label>
    <div class="sameRow">
      <mat-form-field class="inputForm" appearance="fill">
        <ngx-mat-file-input valuePlaceholder="Choisir un fichier*" [formControl]="finalTeamScopeFormControl" [accept]="'.pdf'">
        </ngx-mat-file-input>
        <mat-icon matSuffix>attachment</mat-icon>
        <mat-error *ngIf="finalTeamScopeFormControl.hasError('required')">
            Vous devez choisir un fichier
        </mat-error>
        <mat-error *ngIf="finalTeamScopeFormControl.hasError('apiError')">
            {{errorMessage}}
        </mat-error>
      </mat-form-field>
      <button mat-fab color="accent" [disabled]="finalTeamScopeFormControl.invalid">
        <mat-icon>upload</mat-icon>
      </button>
    </div>
  </form>
  <button mat-raised-button color="accent" (click)="getFile('finalTeamScopeStatement')" class="downloadButton" [disabled]="!isThereFinalStateScope()">Télécharger le document</button>

  <form class="inputFileForm" id="reportForm"  [formGroup]="importReportform" (ngSubmit)="upload('report', 4)">
    <label for="">Rapport :</label>
    <div class="sameRow">
      <mat-form-field class="inputForm" appearance="fill">
        <ngx-mat-file-input valuePlaceholder="Choisir un fichier*" formControlName="report" [accept]="'.pdf'">
        </ngx-mat-file-input>
        <mat-icon matSuffix>attachment</mat-icon>
        <mat-error *ngIf="reportFormControl.hasError('required')">
            Vous devez choisir un fichier
        </mat-error>
        <mat-error *ngIf="reportFormControl.hasError('apiError')">
            {{errorMessage}}
        </mat-error>
      </mat-form-field>
      <button mat-fab color="accent" [disabled]="importReportform.invalid">
        <mat-icon>upload</mat-icon>
      </button>
    </div>
  </form>
  <button mat-raised-button color="accent" (click)="getFile('report')" class="downloadButton" [disabled]="!isThereReport()">Télécharger le document</button>

  <form [formGroup]="testBookLinkForm" (ngSubmit)="onSubmit()">
    <mat-form-field  class="inputForm" appearance="fill">
      <mat-label>Lien TestBook</mat-label>
      <input matInput formControlName="testBookLink" required>
      <mat-icon matSuffix>link</mat-icon>
      <mat-error *ngIf="testBookLinkForm.controls['testBookLink'].hasError('required')">
        Le lien TestBook est obligatoire.
      </mat-error>
      <mat-error *ngIf="testBookLinkForm.controls['testBookLink'].hasError('invalidLink')">
        Le lien TestBook doit être une URL valide.
      </mat-error>
    </mat-form-field>
    <button mat-fab color="accent" type="submit" [disabled]="testBookLinkForm.invalid">
      <mat-icon>upload</mat-icon>
    </button>
  </form>


  <div id="testbookForm">
    <mat-card *ngIf="currentTeam?.testBookLink">
      <mat-card-title>Lien vers le cahier de test</mat-card-title>
      <mat-card-content>
        <a mat-button color="primary" [href]="currentTeam?.testBookLink" target="_blank">{{ currentTeam?.testBookLink }}</a>
      </mat-card-content>
    </mat-card>
  </div>
</div>

