.parent {
  margin: 2rem 5rem 2rem 5rem;
  display: grid;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:  "div1 div3"
                        "div2 div3"
                        "div4 div4"
                        "div5 div5";
}

@media screen and (max-width: 1200px) {
  .parent {
    margin: 0px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    grid-template-areas:  "div1"
                          "div2"
                          "div3"
                          "div4"
                          "div5";
  }
}

.div1 {
  grid-area: div1;
  display: grid;
  align-items: center;
}

.div2 {
  grid-area: div2;
  display: grid;
  align-items: center;
}

.div3 {
  grid-area: div3;
}

.div4 {
  grid-area: div4;
  display: grid;
  align-items: center;
}

.div5 {
  grid-area: div5;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.component {
  margin: 1rem;
  display: flex;
  justify-content: center;
}

.juryEntity {
  margin: 1rem;
}
