app-box-validate-subject {
    margin: 5px;
    display: flex;
    justify-items: center;
}

h1 {
    margin: 20px;
    font-size: 2em;
    text-align: center;
    color: #1a1a1a;
}

@media screen and (max-width: 768px) {
  .twoColumnDisplay {
    grid-template-columns: 1fr;
  }
}
