<div id="validationPage">
  <mat-card>
    <mat-card-header>
      <mat-card-title *ngIf="validationTeam">{{validationTeam.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="sameRow">
        <p class="label">Cahier des charges :</p>
        <button mat-raised-button color="accent" (click)="getFile('teamScopeStatement')" class="downloadButton" [disabled]="!isThereStateScope()">Télécharger le document</button>
      </div>
      <div class="sameRow">
        <p class="label">Analyse du cahier des charges :</p>
        <button mat-raised-button color="accent" (click)="getFile('analysis')" class="downloadButton" [disabled]="!isThereAnalysis()">Télécharger le document</button>
      </div>
      <div class="sameRow">
        <p class="label">Cahier des charges finale :</p>
        <button mat-raised-button color="accent" (click)="getFile('finalTeamScopeStatement')" class="downloadButton" [disabled]="!isThereFinalStateScope()">Télécharger le document</button>
      </div>
      <div class="sameRow">
        <p class="label">Cahier de tests :</p>
        
      </div>
      <a class="testParagraphe" mat-button color="primary" [href]="testBookLinkValidation" target="_blank" *ngIf="testBookLinkValidation">{{ testBookLinkValidation }}</a>
      <p class="testParagraphe" *ngIf="!testBookLinkValidation">Il n'y a aucun cahier de test actuellement</p>
    </mat-card-content>
  </mat-card>
</div>