<div id="validationPage">
  <mat-card>
    <mat-card-header>
      <mat-card-title *ngIf="validationTeam">{{validationTeam.name}}</mat-card-title>
    </mat-card-header>
    <mat-card-content *ngIf="validationTeam != undefined">
      <div class="sameRow">
        <p>Cahier des charges :</p>
        <button mat-raised-button color="accent" (click)="getFile('teamScopeStatement')" class="downloadButton" [disabled]="!isThereStateScope()">Télécharger le document</button>
      </div>
      <div class="sameRow">
        <p>Analyse du cahier des charges :</p>
        <button mat-raised-button color="accent" (click)="getFile('analysis')" class="downloadButton" [disabled]="!isThereAnalysis()">Télécharger le document</button>
      </div>
      <div class="sameRow">
        <p>Cahier des charges finale :</p>
        <button mat-raised-button color="accent" (click)="getFile('finalTeamScopeStatement')" class="downloadButton" [disabled]="!isThereFinalStateScope()">Télécharger le document</button>
      </div>
      <div class="sameRow">
        <p>Cahier de tests :</p>
        <p *ngIf="validationTeam.testBookLink == undefined">Aucun lien disponible</p>
        <a mat-button color="primary" *ngIf="validationTeam.testBookLink != undefined" [href]="testBookLinkValidation" target="_blank">{{ testBookLinkValidation }}</a>
      </div>
    </mat-card-content>
  </mat-card>
</div>