mat-card {
    width: 15rem;
    height: auto;
    justify-items: center;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
    transition: all 0.3s ease;
    border-radius: 15px;
    &:hover {
        box-shadow: 0 0 10px #a8a8a8;
    }
}

mat-card-header {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #962051;
    border-radius: 15px 15px 0 0;
    mat-card-title {
        font-size: 1.2rem;
        font-weight: 600;
        color: #ffffff;
    }
}

mat-card-content {
    padding-top: 12px;
}

span {
    padding-left: 0.4rem;
}

.teacher {
    display: flex;
    align-items: center;
}

.center {
    text-align: center;
}

@media screen and (max-width: 1200px) {
    mat-card {
        width: 22rem;
    }
}