mat-card {
    width: 12rem;
    height: 7rem;
    margin: 1rem;
}

mat-card-header {

}

mat-card-content {
    padding-top: 12px;
}

span {
    padding-left: 0.4rem;
}

.teacher {
    display: flex;
    align-items: center;
}

.center {
    text-align: center;
}