<app-project-file></app-project-file>
<button mat-raised-button color="primary" routerLink="/projectD">Modifier le projet de développement</button>
<div *ngIf="isCurrentUserInTeam() && isProjectDev()">
  <form [formGroup]="testBookLinkForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Lien TestBook</mat-label>
      <input matInput formControlName="testBookLink" required>
      <mat-error *ngIf="testBookLinkForm.controls['testBookLink'].hasError('required')">
        Le lien TestBook est obligatoire.
      </mat-error>
      <mat-error *ngIf="testBookLinkForm.controls['testBookLink'].hasError('invalidLink')">
        Le lien TestBook doit être une URL valide.
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="testBookLinkForm.invalid">Ajouter le lien TestBook</button>
  </form>

  <mat-card *ngIf="testBookLink">
    <mat-card-title>Lien vers le cahier de test</mat-card-title>
    <mat-card-content>
      <a mat-button color="primary" [href]="testBookLink" target="_blank">{{ testBookLink }}</a>
    </mat-card-content>
  </mat-card>
  
  </div>

  
