<div class="container" *ngIf="project">
  <mat-card>
    <mat-card-title>Modification de projet</mat-card-title>
    <mat-card-content>
      <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="fill">
          <mat-label>Nom du projet</mat-label>
          <input matInput formControlName="name" required>
          <mat-error *ngIf="projectForm.controls['name'].hasError('required')">
            Le nom est obligatoire.
          </mat-error>
          <mat-error *ngIf="projectForm.controls['name'].hasError('maxlength')">
            Le nom ne doit pas dépasser 20 caractères.
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Description du projet</mat-label>
          <input matInput type="text" formControlName="description" required>
          <mat-error *ngIf="projectForm.controls['description'].hasError('required')">
            La description est obligatoire.
          </mat-error>
          <mat-error *ngIf="projectForm.controls['description'].hasError('maxlength')">
            La description ne doit pas dépasser 250 caractères.
          </mat-error>
        </mat-form-field>
        <mat-card-actions>
          <button mat-raised-button color="primary" type="submit" [disabled]="projectForm.invalid">Modifier</button>
        </mat-card-actions>
      </form>
    </mat-card-content>
  </mat-card>
</div>