<div [ngSwitch]="userRole">

    <!-- Team Member View -->
    <div class="consultingDialogTeachingStaff" *ngSwitchCase="'TEAM_MEMBER_ROLE'">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{data.event.start | date:'short'}} - {{data.event.end | date:'shortTime'}}</mat-card-title>
            </mat-card-header>
            <mat-card-actions>
                <form>
                    <mat-card-title>Professeurs disponibles :</mat-card-title>
                    <mat-card-subtitle *ngFor="let availability of data.event.availabilities">
                        <p *ngIf="availability.isAvailable"> {{availability.teachingStaff.user.firstname}} {{availability.teachingStaff.user.lastname}}</p>
                    </mat-card-subtitle>
                    <mat-card-title>Demander un consulting :</mat-card-title>
                    <mat-radio-group>
                        <mat-radio-button [value]="true">Modélisation</mat-radio-button>
                        <mat-radio-button [value]="false">Développement</mat-radio-button>
                        <mat-radio-button [value]="false">Infrastruture</mat-radio-button>
                    </mat-radio-group>
                    <button>Valider</button>
                </form>
            </mat-card-actions>
        </mat-card>
    </div>

    <!-- Teaching Staff View -->
    <div class="consultingDialogTeachingStaff" *ngSwitchCase="'TEACHING_STAFF_ROLE'">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{data.event.start | date:'short'}} - {{data.event.end | date:'shortTime'}}</mat-card-title>
            </mat-card-header>
            <mat-card-actions>
                <form id="consultingAvailabilityForm" (ngSubmit)="submit()">
                    <mat-card-title>Votre disponibilité sur cette session :</mat-card-title>
                    <mat-radio-group 
                        aria-labelledby="availability" 
                        [(ngModel)]="myAvailability.isAvailable"
                        [ngModelOptions]="{standalone: true}">
                        <mat-radio-button [value]="true">Disponible</mat-radio-button>
                        <mat-radio-button [value]="false">Indisponible</mat-radio-button>
                    </mat-radio-group>
                    <button>Valider</button>
                </form>
            </mat-card-actions>
        </mat-card>
    </div>

    <!-- Planning View -->
    <div *ngSwitchCase="'PLANNING_ROLE'">

    </div>

</div>
