<div id="validationPage" *ngIf="team != undefined">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{team.name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="sameRow">
          <p class="label">Cahier des charges :</p>
          <button mat-raised-button color="accent" (click)="getFile('teamScopeStatement')" class="downloadButton" [disabled]="!isThereFile('teamScopeStatement')">Télécharger le document</button>
        </div>
        <div class="sameRow">
          <p class="label">Analyse du cahier des charges :</p>
          <button mat-raised-button color="accent" (click)="getFile('analysis')" class="downloadButton" [disabled]="!isThereFile('analysis')">Télécharger le document</button>
        </div>
        <div class="sameRow">
          <p class="label">Cahier des charges final :</p>
          <button mat-raised-button color="accent" (click)="getFile('finalTeamScopeStatement')" class="downloadButton" [disabled]="!isThereFile('finalTeamScopeStatement')">Télécharger le document</button>
        </div>
        <div class="sameRow">
          <p class="label">Rapport :</p>
          <button mat-raised-button color="accent" (click)="getFile('report')" class="downloadButton" [disabled]="!isThereFile('report')">Télécharger le document</button>
        </div>
        <div class="sameRow" *ngIf="isUserJury() && isUserOptionLeader()">
          <p class="label">Rapport annoté :</p>
          <button mat-raised-button color="accent" (click)="getFile('annotedReport')" class="downloadButton" [disabled]="!isThereFile('reportAnnotation')">Télécharger le document</button>
        </div>
        <div class="sameRow">
          <p class="label">Cahier de tests :</p>
        </div>
        <a class="testParagraphe" mat-button color="primary" [href]="team.testBookLink" target="_blank" *ngIf="team.testBookLink">{{ team.testBookLink }}</a>
        <p class="testParagraphe" *ngIf="!team.testBookLink">Il n'y a aucun cahier de test actuellement</p>
        <br>
        <div class="sameRow" *ngIf="isUserOptionLeader() || isUserJury()">
          <p class="label">Commentaire sur le rapport :</p>
          <p></p>
        </div>
        <p *ngIf="!isUserJury() && isUserOptionLeader() && team.reportComments" id="reportCommentParagraph">{{ team.reportComments }}</p>
        <p *ngIf="!isUserJury() && isUserOptionLeader() && !team.reportComments" id="reportCommentParagraph">Aucun commentaire n'est présent actuellement</p>
        <form [formGroup]="addReportCommentform" id="formReportComment" (ngSubmit)="uploadComment()" *ngIf="isUserJury()">
          <mat-form-field id="reportComment">
            <textarea matInput formControlName="reportComment" rows="5" *ngIf="isUserJury()"></textarea>
            <mat-error *ngIf="reportCommentFormControl.hasError('required')">
              Vous devez écrire un commentaire
            </mat-error>
            <mat-error *ngIf="reportCommentFormControl.hasError('apiError')">
                {{errorMessage}}
            </mat-error>
          </mat-form-field>
          <button mat-raised-button color="accent" [disabled]="addReportCommentform.invalid" *ngIf="isUserJury()">
            Envoyer le commentaire
          </button>
        </form>
      </mat-card-content>
    </mat-card>

    <mat-card *ngIf="isUserJury()">
      <mat-card-header>
          <mat-card-title>
              <h3>Déposer un rapport annoté</h3>
          </mat-card-title>
      </mat-card-header>
      <mat-card-content>
          <form class="inputFileForm"  [formGroup]="importReportAnnotform" (ngSubmit)="uploadFile()">
              <mat-form-field class="input" appearance="fill">
                  <ngx-mat-file-input valuePlaceholder="Choisir un fichier*" formControlName="reportAnnot" [accept]="'.pdf'" >
                  </ngx-mat-file-input>
                  <mat-icon matSuffix>attachment</mat-icon>
                  <mat-error *ngIf="reportAnnotFormControl.hasError('required')">
                      Vous devez choisir un fichier
                  </mat-error>
                  <mat-error *ngIf="reportAnnotFormControl.hasError('apiError')">
                      {{errorMessage}}
                  </mat-error>
              </mat-form-field>
              <button mat-fab color="accent" [disabled]="importReportAnnotform.invalid">
                  <mat-icon>upload</mat-icon>
              </button>
          </form>
      </mat-card-content>
    </mat-card>

    <button mat-raised-button color="primary" [routerLink]="['/teams']">Retour à la page d'équipes</button>

</div>
<div>
  <br>
  <HR>
  <h2>Consultings</h2>
  <div class="twoColumnDisplay" id="consulting-list">
    <app-consulting-info *ngFor="let consulting of consultingsList" [consulting]="consulting"></app-consulting-info>
  </div>
</div>
