<div id="projectFile">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{team.name}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="sameRow">
          <p>Cahier des charges :</p>
          <button mat-raised-button color="accent" (click)="getFile('teamScopeStatement')" class="downloadButton" [disabled]="!isThereStateScope()">Télécharger le document</button>
        </div>
        <div class="sameRow">
          <p>Analyse du cahier des charges :</p>
          <button mat-raised-button color="accent" (click)="getFile('analysis')" class="downloadButton" [disabled]="!isThereAnalysis()">Télécharger le document</button>
        </div>
        <div class="sameRow">
          <p>Cahier des charges final :</p>
          <button mat-raised-button color="accent" (click)="getFile('finalTeamScopeStatement')" class="downloadButton" [disabled]="!isThereFinalStateScope()">Télécharger le document</button>
        </div>
        <div class="sameRow">
          <p>Rapport :</p>
          <button mat-raised-button color="accent" (click)="getFile('report')" class="downloadButton" [disabled]="!isThereReport()">Télécharger le document</button>
        </div>
        <div class="sameRow">
          <p>Cahier de tests :</p>
          <a mat-button color="primary" [href]="team.testBookLink" target="_blank">{{ team.testBookLink }}</a>
        </div>
      </mat-card-content>
    </mat-card>
    <button mat-raised-button color="primary" [routerLink]="['/teams']">Retour à la page d'équipes</button>
</div>
<div>
  <h2>Consultings</h2>
  <div class="twoColumnDisplay" id="consulting-list">
  <app-consulting-info *ngFor="let consulting of consultingsList" [consulting]="consulting"></app-consulting-info>
  </div>
</div>