<h4>Selection d'équipe</h4>
<mat-form-field appearance="fill">
  <mat-label>Equipe</mat-label>
  <mat-select>
    <mat-option *ngFor="let food of foods" [value]="food.value">
      {{food.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Nom</th>
    <td mat-cell *matCellDef="let element">{{element.name}}</td>
  </ng-container>

  <!-- Firstname Column -->
  <ng-container matColumnDef="firstname">
    <th mat-header-cell *matHeaderCellDef>Prénom</th>
    <td mat-cell *matCellDef="let element">{{element.firstname}}</td>
  </ng-container>

  <!-- IndividualMark Column -->
  <ng-container matColumnDef="individualMark">
    <th mat-header-cell *matHeaderCellDef>Note Individuelle</th>
    <td mat-cell *matCellDef="let element">{{element.individualMark}}</td>
  </ng-container>

  <!-- TeamMark Column -->
  <ng-container matColumnDef="teamMark">
    <th mat-header-cell *matHeaderCellDef>Note du travail d'équipe</th>
    <td mat-cell *matCellDef="let element">{{element.teamMark}}</td>
  </ng-container>

  <!-- ValidationMark Column -->
  <ng-container matColumnDef="validationMark">
    <th mat-header-cell *matHeaderCellDef>Note validation</th>
    <td mat-cell *matCellDef="let element">{{element.validationMark}}</td>
  </ng-container>

  <!-- Bonus/Malus Column -->
  <ng-container matColumnDef="bonusMalus">
    <th mat-header-cell *matHeaderCellDef>Bonus/Malus</th>
    <td mat-cell *matCellDef="let element">
      <input type="number" [(ngModel)]="element.bonusMalus" 
      min="{{getMinValue(element)}}" max="{{getMaxValue(element)}}"
      (ngModelChange)="updateFinalMark(element)" onkeydown="return false">
    </td>
  </ng-container>

  <!-- FinalMark Column -->
  <ng-container matColumnDef="FinalMark">
    <th mat-header-cell *matHeaderCellDef>Note finale</th>
    <td mat-cell *matCellDef="let element">{{element.finalMark}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
</table>

<!-- Button to send data to DB -->
<button mat-raised-button color="primary" [disabled]="getSumBonus() != 0">Valider</button>
<mat-error *ngIf="getSumBonus() != 0">
  Pour valider, la somme des bonus/malus de l'équipe doit être 0, actuellement elle est de {{getSumBonus()}}
</mat-error>