.notification-badge {
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 0 7px;
  position: relative;
  top: -10px;
  left: -10px;
}

[mat-menu-item] {
display: flex;
justify-content: space-between;
align-items: center;
}

.message {
font-weight: bold;
}

.read .message {
font-weight: 300;
}

.status {
color: grey;
font-style: italic;
}

.menu-bottom {
display: flex;
justify-content: flex-end;
}
