
<mat-expansion-panel id="markPanel{{team.idTeam}}" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
  
  <mat-expansion-panel-header>
      <mat-panel-title> 
        {{team.idTeam}} 
      </mat-panel-title>
      <mat-panel-description>
        {{team.name}}
      </mat-panel-description>
  </mat-expansion-panel-header>
  <p id="noStudents" *ngIf="team.teamMembers.length == 0">Cette équipe n'a pas d'étudiants !</p>
  <section class="table">
    <table mat-table class="markTable" [dataSource]="team.teamMembers" *ngIf="team.teamMembers.length > 0">

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nom</th>
        <td mat-cell *matCellDef="let element">{{element.user.firstname}}</td>
      </ng-container>
    
      <!-- Firstname Column -->
      <ng-container matColumnDef="firstname">
        <th mat-header-cell *matHeaderCellDef>Prénom</th>
        <td mat-cell *matCellDef="let element">{{element.user.lastname}}</td>
      </ng-container>
    
      <!-- IndividualMark Column -->
      <ng-container matColumnDef="individualMark">
        <th mat-header-cell *matHeaderCellDef>Note Individuelle</th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="isJuryOfTeam(team)">
            <input class="tableinput" type="number" [(ngModel)]="element.individualMark" min="0" max="10" (ngModelChange)="calculateFinalMark(element)">
          </ng-container>
          <ng-container *ngIf="!isJuryOfTeam(team)">
            {{(element.individualMark !== (null || undefined)) ? element.individualMark : "-" }}
          </ng-container>
        </td>
      </ng-container>

      <!-- TeamMark Column -->
      <ng-container matColumnDef="teamMark">
        <th mat-header-cell *matHeaderCellDef>Note du travail d'équipe</th>
        <td mat-cell *matCellDef="let element">
          {{(team.teamWorkMark !== (null || undefined)) ? team.teamWorkMark : "-" }}
        </td>
      </ng-container>
    
      <!-- ValidationMark Column -->
      <ng-container matColumnDef="validationMark">
        <th mat-header-cell *matHeaderCellDef>Note validation</th>
        <td mat-cell *matCellDef="let element">
          {{(team.teamValidationMark !== (null || undefined)) ? team.teamValidationMark : "-" }}
        </td>
      </ng-container>
    
      <!-- Bonus/Malus Column -->
      <ng-container matColumnDef="bonusMalus">
        <th mat-header-cell *matHeaderCellDef>Bonus/Malus</th>
        <td mat-cell *matCellDef="let element">
          <ng-container *ngIf="isOptionLeader() || isJuryOfTeam(team)">
            <input
              class="tableinput" 
              type="number" 
              [(ngModel)]="element.bonusPenalty" 
              min="{{getMinValue(element)}}" 
              max="{{getMaxValue(element)}}"
              (ngModelChange)="calculateFinalMark(element)" 
              onkeydown="return false">
          </ng-container>
          <ng-container *ngIf="!isOptionLeader() && !isJuryOfTeam(team)">
            {{(element.bonusPenalty !== (null || undefined)) ? element.bonusPenalty : "-" }}
          </ng-container>
        </td>
      </ng-container>
    
      <!-- FinalMark Column -->
      <ng-container matColumnDef="FinalMark">
        <th mat-header-cell *matHeaderCellDef>Note finale</th>
        <td mat-cell *matCellDef="let element">
          {{(calculateFinalMark(element) !== (null || undefined)) ? calculateFinalMark(element) : "-" }}
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
    </table>
  </section>
  

  <div class="button-container" *ngIf="team.teamMembers.length > 0">
    <div class="sameRow">
    
      <!-- TeamWorkMark Input -->
      <div class="input-container" *ngIf="isJuryOfTeam(team)">
        <mat-form-field class="example-full-width">
          <mat-label>Saisie note de groupe</mat-label>
          <input matInput type="number"  [(ngModel)]="team.teamWorkMark" min="0" max="5">
          <mat-error *ngIf="team.teamWorkMark > 5 || team.teamWorkMark < 0">
            La note doit être comprise entre 0 et 5
          </mat-error>
        </mat-form-field>
      </div>
  
      <!-- ValidationMark Input -->
      <div class="input-container" *ngIf="isJuryOfTeam(team)">
        <mat-form-field class="example-full-width">
          <mat-label>Saisie note de validation</mat-label>
          <input matInput type="number" [(ngModel)]="team.teamValidationMark" min="0" max="5">
          <mat-error *ngIf="team.teamValidationMark > 5 || team.teamValidationMark < 0">
            La note doit être comprise entre 0 et 5
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    
    <div class="button-group" >
      <div style="display: inline-block; margin-right: 10px;" *ngIf="isJuryOfTeam(team)">
        <button mat-raised-button color="primary" [disabled]="checkFinalMarks(team)" (click)="saveMarks()">Valider les notes</button>
        <mat-error *ngIf="checkFinalMarks(team)">
          Toutes les notes finales doivent être entre 0 et 20.
        </mat-error>
      </div>
      
      <div style="display: inline-block;" *ngIf="isOptionLeader() || isJuryOfTeam(team)">
        <button mat-raised-button color="primary" [disabled]="getSumBonus() !== 0" (click)="saveBonus()">Valider les bonus/malus</button>
        <mat-error *ngIf="getSumBonus() !== 0">
          Pour valider, la somme des bonus/malus de l'équipe doit être 0, actuellement elle est de {{ getSumBonus() }}
        </mat-error>
      </div>
    </div>
  </div>
  
</mat-expansion-panel>