<mat-card>
  <mat-card-header>
    <mat-card-title> 
      <h2>Création de présentation</h2> 
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="presentationForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Type de présentation</mat-label>
        <mat-select formControlName="type">
          <mat-option value="Présentation intermédiaire">Présentation intermédiaire</mat-option>
          <mat-option value="Présentation finale">Présentation finale</mat-option>
          <mat-option value="Audit CSS">Audit CSS</mat-option>
          <mat-option value="Audit LD">Audit LD</mat-option>
        </mat-select>
        <mat-error *ngIf="presentationForm.get('type')?.touched && presentationForm.get('type')?.invalid">
          Ce champ est requis.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Date et heure de début</mat-label>
        <input matInput formControlName="datetimeBegin" type="datetime-local">
        <mat-error *ngIf="presentationForm.get('datetimeBegin')?.touched && presentationForm.get('datetimeBegin')?.invalid">
          Ce champ est requis.
        </mat-error>
      </mat-form-field>

      <input type="hidden" formControlName="datetimeEnd">

      <mat-form-field appearance="fill">
        <mat-label>Salle</mat-label>
        <input matInput formControlName="room">
        <mat-error *ngIf="presentationForm.get('room')?.touched && presentationForm.get('room')?.invalid">
          Ce champ est requis.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill">
          <mat-label>Jury</mat-label>
          <mat-select formControlName="idJury">
              <mat-option *ngFor="let jury of juries" [value]="jury.idJury">
                  {{jury.idJury}} - {{jury.ts1.user.firstname}} {{jury.ts1.user.lastname}} & {{jury.ts2.user.firstname}} {{jury.ts2.user.lastname}}
              </mat-option>
          </mat-select>
          <mat-error *ngIf="presentationForm.get('idJury')?.touched && presentationForm.get('idJury')?.invalid">
            Ce champ est requis.
          </mat-error>
      </mat-form-field>
      

      <mat-form-field appearance="fill">
        <mat-label>Project</mat-label>
        <mat-select formControlName="idProject">
          <ng-container *ngFor="let project of projects">
            <mat-option [value]="project.idProject">
              {{project.name}} - Dernier jury associé: {{project.jury?.idJury ?? 'Aucun'}}
            </mat-option>
          </ng-container>
        </mat-select>
        <mat-error *ngIf="presentationForm.get('idProject')?.touched && presentationForm.get('idProject')?.invalid">
          Ce champ est requis.
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="!presentationForm.valid">Créer la présentation</button>
    </form>
  </mat-card-content>
</mat-card>
