.file-drop-zone {
  border: 2px dashed #bbb;
  border-radius: 10px;
  cursor: pointer;
  padding: 25px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.file-drop-zone.drag-over {
  background-color: #eee;
}
