<div class="row-text-center">
    <div id="displayedWeek" class="col-md-4">
        <h3>{{ viewDate | calendarDate:('week' + 'ViewTitle'):'fr':0:[0,6] }}</h3>
    </div>
    <div class="btn-group">
        <button mat-fab mwlCalendarPreviousView [view]="'week'" [(viewDate)]="viewDate" color="primary">
            <mat-icon style="transform: scale(1.8);">keyboard_arrow_left</mat-icon>
        </button>
        <button mat-fab mwlCalendarToday [(viewDate)]="viewDate" color="primary">
            <mat-icon>today</mat-icon>
        </button>
        <button mat-fab mwlCalendarNextView [view]="'week'" [(viewDate)]="viewDate" color="primary">
            <mat-icon style="transform: scale(1.8);">keyboard_arrow_right</mat-icon>
        </button>
    </div>
</div>
<br/>

<mwl-calendar-week-view 
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refreshCalendar"
    [dayEndHour]="18"
    [dayStartHour]="7"
    [locale]="'fr'"
    [excludeDays]="[0,6]"
    [hourSegments]="1"
    [hourSegmentHeight]="55"
    [minimumEventHeight]="20"
    (eventClicked)="clickOnEvent($event)"
    >
</mwl-calendar-week-view>