.row-text-center {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
}

.btn-group {
    width: 13rem;
    display: inline-flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#displayedWeek {
    width: 230px;
    display: grid;
    align-items: baseline;
    justify-content: center;
}
