<mat-card [style.background-color]="validateSubject.is_validated ? '#90ee90' : '#fff'">
    <mat-card-header>
        <mat-card-title>{{ validateSubject.team }}</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
        <mat-card-title>{{ validateSubject.is_validated ? '✓' : '' }} {{ validateSubject.subject }}</mat-card-title>
        <mat-card-subtitle>{{ validateSubject.description }}</mat-card-subtitle>
        <button *ngIf="!validateSubject.is_validated" (click)="doValidateSubject()" mat-button>Valider le sujet</button>
    </mat-card-actions>
</mat-card>